<DOCTYPE html>
<html>
<head>
    <style>
	img { max-width: 15%; height: 5%; };
        table {};
        tr {};
        td {};
        h2 {};
        h3 {};
        p {};
        a {};
        table.highlight {};
        table.highlight tr {};
        table.highlight td {};
        table.highlight h2 {};
        table.highlight h3 {};
        table.highlight p {};
        table.highlight a {};
    </style>
    <title></title></head>
<body>
<h2>attendee_name,</h2>
<p>
As we all adapt to working from home, digital learning and social distancing, we are committed to finding creative ways to interact with together. As we all work hard to keep our business moving forward, we&#39;re introducing a 3-part virtual event series, IT Unplugged. This program features live interviews with legends in cloud technologies at Nutanix, legends in our customers peer group as they use innovative ways to manage their infrastructure from &#39;anywhere&#39; as well as special appearances by legendary musical guests!
</p>

<h2>Program Lineup:</h2>
<p>
<table>
<tr><th width="135" align="LEFT"><h2>Event Date</h2></th><th align="LEFT"><h2>Description</h2></th></tr>
<tr><td width="135"><h3>April 24</h3></td><td><h3>Enable Work-From-Home with End-user Computing</h3></td></tr>
<tr><td width="135"></td><td>Featuring VP/GM, Nikola Bozinovic, Customer Qualcomm Government Technologies & musical guest <b><i>John Rzeznik (Goo Goo Dolls)</i></b></td></tr>
</table>
</p>

<p>
<table>
<tr><td width="135"><h3>May 1</h3></td><td><h3>Ensure Business Continuity and Disaster Recovery with 1-Click</h3></td></tr>
<tr><td width="135"></td><td>Featuring CTO Cheryl Rodenfels, & musical guest <b><i>Sheryl Crow</i><b></td></tr>
</table>

</p>
<p>
<table>
<tr><td width="135"><h3>May 8</h3></td><td><h3>Unlock Your Data&#39;s Full Potential with Nutanix Solutions for Datbases</td></h3></tr>
<tr><td width="135"></td><td>Featuring SVP Ajay Aggarwal & special musical guest <b><i>Colbie Caillat</i></b></td></tr>
</table>
</p>

<p>
<table>
<tr><td width="135"><h3>May 15</h3></td><td><h3>Speed App Development with Private Cloud</h3></td></tr>
<tr><td width="135"></td><td>Featuring CIO Wendy Pfeiffer & musical guest <b><i>Seal</i></b></td></tr>
</table>
</p>

<img href="https://www.nutanix.com/content/dam/nutanix/images/work-from-home/img-hp-banner-euc.jpg">

<iframe width="560" height="315" src="https://www.youtube.com/embed/AsytxrtOR5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
<b>Ronald Coe, Jr.</b> |  Mid-Atlantic Sr. Systems Engineer Enterprise  |  <b>Nutanix</b><br>
<img href="https://i.imgur.com/vBXOEDS.png">
Phone: (301) 332-0488 |  <a href="mailto: ronald.coejr@nutanix.com">ronald.coejr@nutanix.com</a>  | <a href="https://twitter.com/roncoejr">@roncoejr</a> |
</p>

<p>
Nutanix Support | 1-855-NUTANIX, ext. 3 | Nutanix Support Portal
</p>

</body>
</html>
